# Contient le cahier des charges et le fichier de données excel (avec de vrais données!)
documents/*

# Contient les ids / login / nom de bdd / etc
.env
deployer_dev.sh

# On veut pas la bdd sur github
bdd/*


# On veut pas la bdd sur github
mep/*