/*animation donut*/
/*voir comment intégrer si oui*/

.ColorDiv {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
}

.Line{
    height: 2px;
    border-radius:1px;
    margin:2% 0;
}
  
text {
    font-size: 4rem;
    line-height: 16rem;
    fill: #1072b8;
}

#donut {
    text-align: center;
}

path.color0 {
    fill: #1072b8;
}

path.color1 {
    fill: #35526b;
}

.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .8rem;
    line-height  : .12;
    border-radius : .2rem;
}

td {
    vertical-align: bottom !important;
  }

.tdTxt{
    text-align: left;
}

.tdNb{
    text-align: right;
}

/*TABLEAU*/
/*faire un td txt et un td num*/
/*voir quelles colonnes garder*/
/*mettre alias noms de colonnes*/
/*pagination nb lignes*/

/*1 requette => select * from truc where truc limit truc offset truc*/

/*TITRES*/

/*choisir idée la plus simple à mettre en place*/
/*=> avec ou sans logo? avec ou sans sous-titre?*/

/*pour les tables => on doit stocker visible?, alias, typed dans "model"*/

/*renommer model en types ou ...*/