body {
    margin: 0;
    background-color: 100%;
    background-color: lightgrey;
}

h1 {
    margin: 0;
    color: white;
}

header{
    margin: 0;
    height: 150px;
    background-color: red;
}

nav {
    position: fixed;
    left: 0;
    top: 170px;
    overflow-x: hidden; /* Disable horizontal scroll */
    z-index: 1;
    background-color: green;
    width: 250px;
    transition: 0.5s;
}

nav ul {
  list-style-type: none;
}

.casetab a {
    text-decoration: none;
    color : grey;
}

.Main {
    margin-left: 250px;
    transition: 0.5s;
    background-color: orange;
}
