<?xml version="1.0" encoding="UTF-8"?>

<routes>
    <route>
        <method>GET</method>
        <path>/auth/login</path>
        <controller>LoginGetController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/auth/login</path>
        <controller>LoginPostController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/auth/logout</path>
        <controller>LogoutController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignants</path>
        <controller>EnseignantsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignements</path>
        <controller>EnseignementsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/formations</path>
        <controller>FormationsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/home</path>
        <controller>HomeController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/cours</path>
        <controller>CoursGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/cours/:id</path>
        <controller>CoursGETController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/cours</path>
        <controller>CoursPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/cours/:id</path>
        <controller>CoursPOSTController</controller>
    </route>
    
    <redirect>
        <from>/</from>
        <to>/home</to>
    </redirect>

</routes>
