<?xml version="1.0" encoding="UTF-8"?>

<routes>
    <route>
        <method>GET</method>
        <path>/accueil</path>
        <controller>AccueilGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/auth</path>
        <controller>AuthGetController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/auth</path>
        <controller>AuthPostController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignants</path>
        <controller>EnseignantsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignants/:id</path>
        <controller>EnseignantsGETController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/enseignants</path>
        <controller>EnseignantsPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/enseignants/:id</path>
        <controller>EnseignantsPOSTController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignements</path>
        <controller>EnseignementsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/enseignements/:id</path>
        <controller>EnseignementsGETController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/enseignements</path>
        <controller>EnseignementsPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/enseignements/:id</path>
        <controller>EnseignementsPOSTController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/formations</path>
        <controller>FormationsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/formations/:id</path>
        <controller>FormationsGETController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/formations</path>
        <controller>FormationsPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/formations/:id</path>
        <controller>FormationsPOSTController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/cours</path>
        <controller>CoursGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/cours/:id</path>
        <controller>CoursGETController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/cours</path>
        <controller>CoursPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/cours/:id</path>
        <controller>CoursPOSTController</controller>
    </route>
    
    <route>
        <method>GET</method>
        <path>/referentiels/diplomes</path>
        <controller>DiplomesGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/referentiels/statuts</path>
        <controller>StatutsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/referentiels/types</path>
        <controller>TypesGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/referentiels/diplomes/:id</path>
        <controller>DiplomesGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/referentiels/statuts/:id</path>
        <controller>StatutsGETController</controller>
    </route>
    <route>
        <method>GET</method>
        <path>/referentiels/types/:id</path>
        <controller>TypesGETController</controller>
    </route>
    
    <route>
        <method>POST</method>
        <path>/referentiels/diplomes</path>
        <controller>DiplomesPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/referentiels/statuts</path>
        <controller>StatutsPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/referentiels/types</path>
        <controller>TypesPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/referentiels/diplomes/:id</path>
        <controller>DiplomesPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/referentiels/statuts/:id</path>
        <controller>StatutsPOSTController</controller>
    </route>
    <route>
        <method>POST</method>
        <path>/referentiels/types/:id</path>
        <controller>TypesPOSTController</controller>
    </route>

    <route>
        <method>GET</method>
        <path>/reglages</path>
        <controller>ReglagesGETController</controller>
    </route>

    <route>
        <method>GET</method>
        <path>/utilisateurs</path>
        <controller>UtilisateursGETController</controller>
    </route>
    
    <redirect>
        <from>/</from>
        <to>/accueil</to>
    </redirect>

</routes>